# Ignore environment files
.env*

# Ignore data directory
data/

# Ignore Konfuzio SDK egg info
konfuzio_sdk.egg-info/

# Ignore IDE specific files
.idea/
.vscode/

# Ignore documentation build output
docs/build/

# Ignore log files
*.log

# Ignore compiled Python files
*.pyc

# Ignore virtual environment directory
venv/

# Ignore project settings
settings.py

# Ignore pickled files
*.pkl

# Ignore archived files
*.tar.gz

# Ignore files containing 'data_'
*data_[0-9]*

# Ignore Jupyter Notebook checkpoints
*.ipynb_checkpoints/
*.ipynb~

# Ignore any Jupyter Notebook in the tutorials folder at any depth
docs/sdk/tutorials/**/*.ipynb

# Ignore distribution and build directories
dist/
build/
_build/

# Ignore SDK tutorials tests
docs/sdk/tutorials/tests/

# Ignore example project data for tests
tests/example_project_data/

# Ignore Python cache
__pycache__/

# Ignore training_logs
training_logs