.env*
data
konfuzio_sdk.egg-info
.idea
docs/build/
*.log
*.pyc
venv
settings.py
*.pkl
*.tar.gz
*data_*
*.ipynb*
dist
build
_build
docs/sdk/tutorials/tests
.vscode
tests/example_project_data
__pycache__